<div class="container mt-2 p-4">
    <h4 class="mb-4">Add New Phone Number</h4>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="mb-2">
            <label class="form-label">Phone Number</label>
            <input type="text" inputmode="numeric" class="form-control" formControlName="phoneNumber">
        </div>
        <div class="mb-2">
            <label class="form-label">Customer</label>
            <select class="form-select" formControlName="customerId">
                <option *ngFor="let customer of customers$ | async" [value]="customer.id">{{ customer.name }}</option>
            </select>
        </div>
        <div class="mb-2 form-check">
            <input class="form-check-input" type="checkbox" id="activeCheckBox" formControlName="active">
            <label class="form-check-label" for="activeCheckBox">Active</label>
        </div>
        <div class="mb-2 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>